<div class="ej-doc-header">
  <div class="ej-doc-left-side">
    <div class="ej-doc-hamburger-icon ej-doc-icons" (click)="onClick()"></div>
    <div class="ej-doc-platform-name">Reports for Angular</div>
  </div>
  <div class="ej-doc-right-side">
    <a href="https://reports.syncfusion.com" title="Documentation" target="_blank">Demos</a>
    <a href="https://www.syncfusion.com/support/directtrac/incidents" target="_blank"
      title="Product Details">Support</a>
    <a href="https://www.syncfusion.com/forums/report" target="_blank" title="Download Now">Forum</a>
    <a class="ej-doc-button" href="https://www.syncfusion.com/downloads/report" title="Report Server"
      target="_blank">Download</a>
  </div>
</div>