/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 

  font-family: Roboto, Arial, sans-serif;
  margin: 20;
}

.basic-container {
  padding: 100px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/* of syncfusion */
@font-face {
    font-family: 'ejicons';
    src: url('src/assets/sb-icons/fonts/icons.ttf?gcjn6a') format('truetype'), url('src/assets/sb-icons/fonts/icons.woff?gcjn6a') format('woff'), url('src/assets/sb-icons/fonts/icons.svg?gcjn6a#sbicons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  .ej-doc-icons {
    font-family: 'ejicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ej-reportdesigner, ej-reportviewer{
    display: block;
  }